@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
		font-family: 'Montserrat-Bold';
		src: url("../fonts/Montserrat-Bold.ttf");
}
*{
	font-family: "Montserrat-Regular";
}
.container-fluid{
	padding-left: 0;
	padding-right: 0;
}
.button{
	width:165px;
	height:40px;
	-webkit-border-radius: 20px;
	        border-radius: 20px;
	background:-webkit-gradient(linear, left top, right top, from(#FF7B1C) , to(#FF3465));
	background:-webkit-linear-gradient(left, #FF7B1C , #FF3465);
	background:-o-linear-gradient(left, #FF7B1C , #FF3465);
	background:linear-gradient(to right, #FF7B1C , #FF3465);
	-webkit-box-shadow: 0 4px 14px rgba(193, 50, 50, 0.55);
	        box-shadow: 0 4px 14px rgba(193, 50, 50, 0.55);
	color:white;
}
.button:hover{
	background:-webkit-gradient(linear, left top, right top, from(#f26704) , to(#f6003b));
	background:-webkit-linear-gradient(left, #f26704 , #f6003b);
	background:-o-linear-gradient(left, #f26704 , #f6003b);
	background:linear-gradient(to right, #f26704 , #f6003b);
}
.button:active{
	background:#f6003b;
}
.container{
	padding-left: 0;
	padding-right: 0;
}
.list{
	padding-left:0;
	list-style-image: url("../img/Main-img/list-marker.png");
}
.list li{
	padding-top: 11px;
	padding-bottom:4px;
	padding-left:20px;
}


/*----------------------*/
/*---------Main---------*/
.main{
  background: url("../img/Main-img/main_bg.png") no-repeat;
	background-position: center top;
	min-height: 100%;
}
.main-text{
	padding-top: 141px;
	padding-bottom: 298px;
}
.main-name{
	color:white;
	font-family: 'Montserrat-Bold';
	font-size: 36px;
}
.main-details{
	color:white;
	font-family: 'Montserrat-Regular';
	font-size: 23px;
	padding-top: 15px;
}
.main-cards{
	margin-top: -158px;
}
.py-2{
	padding: 10px;
}
.costil{
	padding:10px;
}
.info-card{
	padding:7px;
	padding-top: 18px;
	background-color: white;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
	        box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/*----------------------*/
/*--------clients-------*/
.clients{
  background-image: url("../img/Main-img/clients_bg.png");
	background-repeat: no-repeat;
	-webkit-background-size: 100% 100%;
	        background-size: 100%;
  background-position: bottom;
	padding-top: 53px;
	font-size: 23px;
}
#clients-picts-1{
	margin-top: 27px;
}
#clients-picts-2{
		margin-top: 31px;
}
.clients-pict{
	padding-top:26px;
}
#clients-btn{
	margin-top:72px;
	margin-bottom: 146px;
	height: 40px;
	width: 196px;
}

/*----------------------*/
/*-------Services-------*/
.services-text{
	font-size:24px;
}
.services-sphere{
	font-size: 36px;
	font-family: 'Montserrat-Bold';
	color: #FF6A3B;
	padding-left: 21px;
}

/*----------------------*/
/*--------Design--------*/
.design{
	margin-top: -2px;
	padding-top: 3px;
	padding-bottom: 69px;
	background-color:#F2F2F7;
}
.design-content{
	margin-top:35px;
	margin-bottom: 7px;
}
.design-list{
	padding-left: 18px;
}
.design-img{
	 padding-left: 82px;
}

/*----------------------*/
/*------Polygraphy------*/
.polygraphy{
	padding-top: 39px;
	padding-left: 56px;
	padding-bottom: 9px;
}
.polygraphy-img{
	padding-top: 19px;
	padding-left:25px;
	position:relative;
}
#fifth-pict{
	position: absolute;
	z-index: 999;
	right:110px;
	top:137px;
}
span {
    color: #D5D5E1;
  }
/*----------------------*/
/*-----Constructions----*/
.constructions{
	background-color:#F2F2F7;
	padding-top:48px;
	padding-bottom: 50px;
}
.constructions-img{
	padding-left: 61px;
}
.img-adaptive {
	max-width: 100%;
	height: auto;
}
.polygraphy-content{
	padding-left:50px;
}
